.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#book-list {
  color: #fff;
  font-size: 24px;
  margin-top: 3px;
}

#book-list li {
  list-style-type: none;
  border: 1px solid;
  background-color: #5b6dcd;
  margin-bottom: 1em;
  border-radius: 25px;
}

.book-list-container {
  height: 90%;
  width: 30%;
  margin-top: -4%;
  margin-left: -2%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

.book-details {
  margin-top: 10px;
  height: 450px;
  padding: 2px;
  margin-left: 30%;
  border-radius: 50%;
  width: 69%;
  position: fixed;
  background-color: rgb(245, 240, 240);
}

.image {
  width: 100%;
  height: 300px;
  padding: 3px;
}

*/ .dropzone {
  border: 2px solid #048a0b;
}

.update-book {
  margin-top: -70%;
  margin-left: 40%;
  border: 1px solid;
  width: 50%;
}

.field {
  display: inline-block;
  font-size: 18px;
  margin: 8px;
}

.field input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-button {
  margin-left: 86%;
  margin-top: 5%;
}
